.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.half {
  width: 50%;
}

.overlay {
  background-color: black;
  opacity: 50%;
  position: absolute;
  width: 100%;
  height: 118.3vh;
  z-index: 900;
}

.model-container {
  position: absolute;
  width: 80%;
  right: 0;
  left: 2.5rem;
  bottom: 0;
  top: 15rem;
}

.img-container {
  width: 40%;
}

.favorite-img-container {
  width: 40%;
}

.agent-text-container {
  background-color: black;
  opacity: 60%;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  filter: blur(0);
}

.star {
  font-size: 1rem;
}

.trash {
  font-size: 1rem;
}

button {
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .overlay {
    background-color: black;
    opacity: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
  }

  .eighty-percent {
    width: 80%;
  }

  .model-container {
    width: 30%;
    position: absolute;
    right: 0;
    left: 42rem;
    bottom: 0;
    top: 19rem;
  }

  .img-container {
    width: 26%;
  }

  .favorite-img-container {
    width: 26%;
  }

  .agent-text-container {
    background-color: black;
    opacity: 60%;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: unset;
  }

  button {
    padding: 0.5rem 2rem;
  }

  .trash {
    font-size: 1.5rem;
  }

  .star {
    font-size: 1.5rem;
  }
}
